@model WeatherViewModel 
@{
}
<div>
    <h2>Weather Forecast</h2>
</div>
<div>
    <span>Weather Symbol Icon <img id="imgWeatherIconUrl" src="https://image.shutterstock.com/z/stock-vector-cartoon-weather-icons-set-71255878.jpg" title="Weather Icon" /></span>
</div>
 <div> 
    <div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">City</span>
            <input type="text" class="form-control" value="@Model.City">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Country</span>
            <input type="text" class="form-control" value="@Model.Country">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Latitude</span>
            <input type="text" class="form-control w-25 p-3" value="@Model.Lat">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Longitude</span>
            <input type="text" class="form-control" value="@Model.Lon">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
            <input type="text" class="form-control" value="@Model.Description">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Humidity</span>
            <input type="text" class="form-control" value="@Model.Humidity">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Temperature feels like</span>
            <input type="text" class="form-control" value="@Model.TempFeelsLike">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Temperature</span>
            <input type="text" class="form-control" value="@Model.Temp">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Max Temperature</span>
            <input type="text" class="form-control" value="@Model.TempMax">
        </div>        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Min Temperature</span>
            <input type="text" class="form-control" value="@Model.TempMin">
        </div>
    </div>
</div>
@*

<div>
<div/>
    <table>
        <tr>
            <td>Weather Symbol Icon <img id="imgWeatherIconUrl" src="https://image.shutterstock.com/z/stock-vector-cartoon-weather-icons-set-71255878.jpg" title="Weather Icon" /></td>
        </tr>
        <tr>
            <td>
                <strong>City: </strong>
                <span id="lblCity"value="@Model.City"></span>  ,
                <span id="lblCountry"value="@Model.Country"></span>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Latitude: </strong>
                <span id="lblLat"value ="@Model.Lat"></span><br />
                <strong>Longitude: </strong>
                <span id="lblLon"value @Model.Lon></span>

            </td>
        </tr>
        <tr>
            <td>
                <strong>Description:</strong>
                <span id="lblDescription"></span><br />
                <strong>Humidity:</strong>
                <label id="lblHumidity"></label>
            </td>
        </tr>
        <tr>
            <td>
                Temperature (Feels Like)<label id="lblTempFeelsLike"></label><br />
                Temperature <label id="lblTemp"></label><br />
                Temperature (Min)<label id="lblTempMin"></label><br />
                Temperature (Max)<label id="lblTempMax"></label><br />
            </td>
        </tr>


    </table>
</div>
*@